<div class="banner-home d-flex align-items-center">
  <div class="container d-flex flex-column align-items-center">
    <%= image_tag "pipoca.png", alt: "popcorn", id: "home-logo"%>
    <h1 class="pb-5">SAVE ANY KIND OF MOVIES!</h1>
    <%= link_to 'See all lists', lists_path(@list), class: "btn btn-primary" %>
  </div>
</div>
