.banner {
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  height: 400px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
}

.banner h4 {
  color: white;
}
